/Ejercicio1/build/
/Ejercicio2/Ejercicio2/nbproject/private/
/Filtro/JavaApplication6/nbproject/private/
/Filtro/JavaApplication7/nbproject/private/
/Filtro/nbproject/private/
/Observador/patronObservador/nbproject/private/
/Observador/patronObservador/build/